<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Inventory Management',main_page_inventory_store_items_path %></li>
    <li>View List Of Items</li>
  </ul>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= button_to 'New',{ :controller => "inventory_store_items",:action => "new_store_item" }, :method => :get, class: "btn btn-primary-link btn-xs" %>
    </div>
  </div>
</div>

<br>

<div class="box-inner">
 <div class="box-header well" data-original-title="">
 <h2>List Of Items</h2>
 </div>

<div class="box-content" style="overflow-x; auto;width: 100%;">
  <table id="datatable" class="table table-striped table-bordered responsive">
   <thead>
    <tr>
      
      <th><center>Sr.No</center></th>
      <th><center>Batch and Course</center></th>
      <th><center>Supplier Name</center></th>
      <th><center>Purchase Date</center></th>
      <th><center>Item Name</th></center>
      <th><center>Description</th></center>
      <th><center>Quantity</th></center>
      <th><center>Remaining Qty</th></center>
      <th><center>Price</th></center>
      <th><center>Total</th></center>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
   <% @storeitems.each_with_index do |s,i| %>
      <tr>
        <td><center><%= i+1 %></center></td> 
        <td><center><%= s.batch.course.course_name.capitalize+" "+s.batch.course.section_name.capitalize+" "+s.batch.name.capitalize if s.batch%></center></td>
        <td><center><%= s.supplier.supplier_name if s.supplier%></center></td>
        <td><center><%= s.date%></center></td>
        <td><center><%= s.item_name %></center></td>
        <td><center><%= s.category %></center></td>
        <td><center><%=s.quantity%></center></td>
        <td><center><%=s.remainig_qty%></center></td>
        <td><center><%= s.unit_price %></center></td>
        <td><center><%= s.total%><center></td>
        
        <td><div class="label-success label label-default">
         <i class="glyphicon glyphicon-pencil icon-white"></i> <%= link_to 'Edit',edit_store_item_inventory_store_item_path(s),class: "a-action"%></td>

        <td><div class="label-danger label label-default">
         <i class="glyphicon glyphicon-trash icon-white"></i> <%= link_to 'Delete',destroy_store_item_inventory_store_item_path(s),method: :delete, data: { confirm: "Are you sure to delete ?" },class: "a-action"%></td>
        </div>
      </tr>
   <% end %>
  </tbody>
</table>