<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Inventory Managemenet</li>
  </ul>
</div>

<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "View Stoks ",view_all_item_inventory_store_items_path %></h2>
      </div>
      <div class="box-content">
      View All Stocks Items
      </div>
    </div>
  </div>

  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "suppliers",new_supplier_suppliers_path %></h2>
      </div>
      <div class="box-content">
        Create and manage Suppliers
      </div>
    </div>
  </div>
</div>
<br/><br/><br/>

<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Store Item",add_new_store_item_inventory_store_items_path %></h2> 
      </div>
      <div class="box-content">
       Create and Manage stores Items
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Return Orders",inventory_store_items_path%></h2>
      </div>
      <div class="box-content">
       Click Here To Return Items
      </div>
    </div>
  </div>
</div>


<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Invoice",new_invoice_invoices_path%></h2> 
      </div>
      <div class="box-content">
         View Invoice Date-Wise.
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Claim",claim_main_page_claims_path%></h2>
      </div>
      <div class="box-content">
         Click Here To Approval. 
      </div>
    </div>
  </div>
</div>


<br/><br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "View All Return Orders",view_return_order_inventory_store_items_path%></h2>
      </div>
      <div class="box-content">
       View Here All Return Orders
      </div>
    </div>
  </div>
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Remaining Quantity",view_remainingqty_claims_path%></h2>
      </div>
      <div class="box-content">
         View Remaining Stocks
      </div>
    </div>
  </div>
</div>

