
<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Create Bulk Email</li>
  </ul>
</div>

<div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Create Bulk Email</h2>
      </div>
      <div class="box-content">
      <%= form_for :bulk_email ,url:{controller: 'bulk_emails',action: 'create'} do |f| %>
    <fieldset>

     <div class="col-md-4">
           <div class="form-group">
          <b>Select:</b> &nbsp;&nbsp; &nbsp;&nbsp;
          <%= link_to "All",'#',{onclick:"$('.check_box').prop('checked',true);",remote:true,class: "btn btn-primary-link btn-xs"}%>&nbsp;&nbsp;
          <%= link_to  "None",'#',{onclick:"$('.check_box').prop('checked',false);",remote:true,class: "btn btn-primary-link btn-xs"}%>
        </div>

        <div id="bulk_email">
          <%= render 'student_list'%>
        </div>

      
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">

       <div class="form-group">
          <b>Email Subject:</b>
          <span style="color:red">*</span>
          <%= f.text_field :subject, placeholder: "Email Subject", class: "form-control",required:true, style:"width:250px"%>
        </div>

        <div class="form-group">
          <b>Email Body:</b>
          <span style="color:red">*</span>
          <%= f.text_area :email_body, placeholder: "Email Body", class: "form-control",required:true, style:"width:250px"%>
        </div>

         <div class="form-group">
          <b>Select Batch:</b>
          <span style="color:red">*</span>
          <%= f.select :batch_id,Batch.includes(:course).all.collect{|b| [b.course.course_name+" "+b.course.section_name+" - "+b.name,b.id]}, {prompt:true}, {onclick:"var a={id:$('#bulk_email_batch_id').val()};$.get('selected_batched',a,function(response){});",:style =>"width: 300px",class: "form-control"} %>
          <br>


    <div class="col-sm-2 col-sm-offset-2"> 
      <div class="form-actions">               
        <%= f.submit 'Send bulk_email', class: "btn btn-primary"%>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
     
      
  </fieldset>        
 <% end %>
</div>
</div>
</div>
</div>
</div>
      </div>