  <div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Library Management',main_page_books_path %></li>
    <li><%= link_to 'Search Student',search_all_student_book_movements_path %></li>
    <li>Issued Books</li>
  </ul>
</div>


  <%= form_tag(book_movements_path, :method => "get", id: "search-form") do %> 
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Filter" %>
  <% end %>

   <% if (@dibs) %>
    <% if (@dibs.empty?) %>
      <p>No Record found.</p>
    <% else %>
      <p> Search the Students and books.</p>
    <% end %>
  <%end%>
<br><br><br>

<div class="row">
  <div class="col-sm-10">
     <div class="form-group">
       <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">
              <h2>Issued Books</h2>
            </div>
            <div class="box-content">
              <% if @issue_books.empty? %>
                <h4 align="center">No Record Found </h4>
              <% else %>
                <table id="datatable" class="table table-striped table-bordered responsive">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Department Name</th>
                      <th>Employee Name</th>
                      <th>Employee No</th>
                      <th>Book Number</th>
                      <th>Book Title</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@issue_books.each_with_index do |d,i| %>
                      <tr>
                      <%if d.book.status == 'Issued'%>
                        <td><%= i+1 %></td>
                        <td><%= d.employee.employee_department.name%></center></td>
                        <td><%=d.employee.first_name+' '+d.employee.last_name%></td>
                        <td><%=d.employee.employee_number%></td>
                        <td><%=d.book.book_number%></td>
                        <td><%=d.book.title%></td>
                        <td><%=d.book.status%></td>
                    
                       
                        <td><div class="label-success label label-default">
                         <i class="glyphicon glyphicon-pencil icon-white"></i> <%= link_to 'Renewal',edit_employee_book_movement_path(d),remote: true,class: "a-action"%></td>

                         <td><div class="label-success label label-default">
                         <i class="glyphicon glyphicon-share"></i> <%= link_to 'Return',return_book_employee_book_movement_path(d),class: "a-action"%></td>
                         </div>
                          </div>
                        </td>
                      </tr>
                    <%end%>
                  <%end%>
                  </tbody>
                </table>
              <%end%>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="empmyModal" class="modal fade"></div>