<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Inventory Management',main_page_inventory_store_items_path%></li>
    <li>Claim</li>
  </ul>
</div>

<div id="flash"><%= render 'layouts/messages'%></div>
<br/><br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Claim Approval", approved_index_claims_path%></h2>
      </div>
      <div class="box-content">
        Claim Here For Approval.
      </div>
    </div>
  </div>
  <div class="box col-md-3">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "view Approved Claim",'/claims/view_all_claim' %>
        </h2>
      </div>
      <div class="box-content">
        View All Approved Claim Here.
      </div>
    </div>
  </div>

 
  