<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Claim'%></li>
    <li><%= link_to 'Inventory Management','/home/dashboard'%></li>
    <li><%= link_to 'Claim',claim_main_page_claims_path%></li>
    <li> View All Claim List</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>
<hr>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>View All Claims</h2>
      </div>
      <div class="box-content">
        <table class="table table-striped">
          <thead>
            <th>Claim Date</th>
            <th>Item Name</th>
            <th>Claim Name</th>
            <th>Claim Quantity</th>
            <th>comment</th>
          </thead>
            <tbody>
              <% @claims.each do |eg|%>
                <tr>
                <td><%= eg.purchase_date%></td>
                <td><%= eg.inventory_store_item.item_name if eg.inventory_store_item%></td>
                  <td><%= eg.claim_item%></td>
                  <td><%= eg.claim_quantity%></td>
                  <td><%= eg.comment%></td>
                  <td>
                  <% if eg.result_published? %>
                      <div class="label-success label label-default">
                        <i class="glyphicon glyphicon-saved icon-white"></i>
                        <%= link_to 'Approved','publish_result_claims_path(eg)',class: "a-action"%></td>
                      </div>
                      <%end%>
              <%end%>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

