<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<div class="box-content">
        <%= form_for :book_movement ,url:{controller:'book_movements',action:'update'},method: :patch do |c|%>
          <div class="errors"><ul class="errors"></ul></div>
          <fieldset>
            
             <div class="form-group">
              <div class="col-md-3"><b>Book Number</b></div>
                <%= text_field :book, :book_number, :value=>@book.book_number, :disabled=>true %>
             </div>

             <div class="form-group">
              <div class="col-md-3"><b>Book Title</b></div>
                <%= text_field :book, :title, :value=>@book.title, :disabled=>true %>
             </div>

             <div class="form-group">
              <div class="col-md-3"><b>Student Name</b></div>
                <%= text_field :student, :first_name, :value=>@student.first_name+" "+@student.last_name, :disabled=>true %>
             </div>

             <div class="form-group">
              <div class="col-md-3"><b>Admission No</b></div>
                <%= text_field :student, :admission_no, :value=>@student.admission_no, :disabled=>true %>
             </div>
          
            <div class="form-group">
              <div class="col-md-3"><b>Issue Date</b></div>
              <%= c.date_field :issue_date,:value => @dib.issue_date,class: "form-control",style:"width:250px",readonly:true %>
            </div>

            <div class="form-group">
              <div class="col-md-3"><b>Due Date</b></div>
              <%= c.date_field :due_date,:value => Date.today+@interval.to_i,class: "form-control datepicker",style:"width:250px" %>
            </div>
   
            <div class="row">
             <div class="col-sm-12">
              <center>
                <%= c.submit 'Edit Renewal', class: "btn btn-primary"%>&nbsp;
                <%= link_to 'cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%>
              </center>
             </div>
            </div>
          </fieldset>
        <%end%>  
      </div>

</div>
</div>
</div>
</div>