<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Library Management',main_page_books_path %></li>
    <li><%= link_to 'Search Students',search_student_book_movements_path %></li>
    <li>All Issued Books</li>
  </ul>
</div>

  <%= form_tag(book_movements_path, :method => "get", id: "search-form") do %> 
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Filter" %>
  <% end %>

   <% if (@dibs) %>
    <% if (@dibs.empty?) %>
      <p>No Record found.</p>
    <% else %>
      <p> Search the Students and books.</p>
    <% end %>
  <%end%>


<div class="row">
  <div class="col-sm-10">
     <div class="form-group">
       <div class="row">
        <div class="box col-md-12">
          <div class="box-inner">
            <div class="box-header well">
              <h2>Issued Books</h2>
            </div>
            <div class="box-content" style="overflow-y: scroll; height:200px">
              <% if @dibs.empty? %>
                <h4 align="center">No Record Found </h4>
              <% else %>
                <table id="datatable" class="table table-striped table-bordered responsive">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Batch and Course</th>
                      <th>Student Name</th>
                      <th>Admission No</th>
                      <th>Book Number</th>
                      <th>Book Title</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%@dibs.each_with_index do |d,i| %>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><%= d.student.batch.course.course_name.capitalize+" "+d.student.batch.course.section_name.capitalize+" "+d.student.batch.name.capitalize%></center></td>
                        <td><%=d.student.first_name+' '+d.student.last_name%></td>
                        <td><%=d.student.admission_no%></td>
                        <td><%=d.book.book_number%></td>
                        <td><%=d.book.title%></td>
                        <td><%=d.book.status%></td>
                         <td><div class="label-danger label label-default">
                        <i class="glyphicon glyphicon-trash icon-white"></i> <%= link_to 'Delete',book_movement_path(d),method: :delete, data: { confirm: "Are you sure to delete ?" },class: "a-action"%></td>
                      
                         </div>
                          </div>
                        </td>
                      </tr>
                    <%end%>
                  </tbody>
                </table>
              <%end%>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade"></div>