<div class="box-inner">
      <div class="box-header well" data-original-title="">
        
      </div>
      <div class="box-content" style="overflow-y: scroll; height:auto">
        <table id="datatable" class="table table-striped table-bordered responsive">
  <tr class="tr-head">
   <thead>
    <tr>
      
      
      <th>Book No</th>
      <th>Book Title</th>
      <th>Student Name</th>
      <th>Admission No</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>



 <tbody>

    <% @dibs.each do |l| %>
    
     <tr>
     
        <td><%= l.book.book_number%></td>
        <td><%= link_to "#{l.title}",issue_book_book_movement_path%></td>
        <td><%= l.student.first_name%></td>
        <td><%= l.student.admission_no%></td>
        <td><%= l.issue_date %></td>
        <td><%= l.due_date %></td>
         <td><%= link_to 'Edit',edit_book_book_path(l), class: "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Destroy', destroy_book_book_path(l), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
      
     </tr>
  <% end %>
  
  
</tbody>
</table>
