<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Library Management',main_page_books_path %></li>
    <li>Pay Fine</li>
  </ul>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="box col-md-6">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Pay Fine</h2>
      </div>
 <div class="box-content">
  <%= form_for :fine ,url:{controller:'book_movements',action:'create_pay_fine'} do |c|%>
 
  <%=hidden_field_tag 'book_movement_id', @dib.id%>
  
    <div class="row">
      <div class="col-md-6">
      
      <div class="form-group">
        <div class="col-md-6"><b>Book Title:</b> </div>
         <div class="col-md-6"><%=@dib.book.title%></div>
      </div><br>

      <div class="form-group">
        <div class="col-md-6"><b>Book Number:</b></div>
         <div class="col-md-6"><%=@dib.book.book_number%></div>
      </div><br>

      <div class="form-group">
        <div class="col-md-6"><b>Batch:</b></div>
         <div class="col-md-6"><%=@dib.student.batch.course.course_name+" "+@dib.student.batch.course.section_name+" "+@dib.student.batch.name%></div>
      </div><br> <br>  
      
      <div class="form-group">
        <div class="col-md-6"><b>Book Holder:</b></div>
         <div class="col-md-6"><%=@dib.student.first_name+' '+@dib.student.last_name%></div>
      </div><br>

      <div class="form-group">
        <div class="col-md-6"><b>Admission No:</b></div>
         <div class="col-md-6"><%=@dib.student.admission_no%></div>
      </div><br>

      <div class="form-group">
        <div class="col-md-6"><b>Issued Date:</b></div>
         <div class="col-md-6"><%=@dib.issue_date%></div>
      </div><br>

       <div class="form-group">
        <div class="col-md-6"><b>Due Date:</b></div>
         <div class="col-md-6"><%=@dib.due_date%></div>
      </div><br> 


      <div class="col-sm-4 col-sm-offset-4"> 
        <div class="form-actions">               
          <%= c.submit 'Pay', class: "btn btn-primary"%>
        </div>
      </div>       
    </div>
    <%end%>
    </div>
    </div>
    </div>
    </div>
</br>
</br>