<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li><%= link_to 'Library Management',main_page_books_path %></li>
    <li>Library Settings</li>
  </ul>
</div>


<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
         <h2><%= link_to "Book Category",new_category_books_path%>
      </div>
      <div class="box-content">
      Book Category
      </div>
    </div>
  </div>

<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Book Publication",new_publication_path%>
      </div>
      <div class="box-content">
      Book Publication
      </div>
    </div>
  </div>
</div>
<br/>

<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><h2><%= link_to "Library Settings",new_library_setting_path%></h2>
      </div>
      <div class="box-content">
       Duration Interval
      </div>
    </div>
  </div>

 
