<div>
  <ul class="breadcrumb">
  <li><%= link_to 'Home',dashboard_home_index_path %></li>
  <li>Dashboard</li>
  </ul>
</div>

<div id="flash"><%= render 'layouts/messages'%></div>        
<br/>

  <% if current_user.role == 'SuperAdmin' %>
      <%= render 'dash' %>
  <% elsif current_user.role == 'Admin' %>
      <%= render 'dash1' %>
  <% elsif current_user.role == 'Employee' %>
      <%= render 'dash2' %>
  <% else %>
      <%= render 'dash3' %>
  <% end %>


<div class="pagination">
  <span class="previous_page disabled">&#8592; Previous</span>
  <em class="current">1</em>
  <a rel="next" href="/activity?page=2">2</a>
  <a href="/activity?page=3">3</a>
  <a href="/activity?page=4">4</a>
  <a class="next_page" rel="next" href="/activity?page=2">Next &#8594;</a>
</div>