

<div class="row">
	<div class="col-md-1"></div>
	<div class="box col-md-10">
		<div class="box-inner">
			<div class="box-header well" data-original-title="">
		</div>
			<div class="box-content">
				<%=form_for :search ,url:{action:'advance_book_search'},method: :get do |f| %>
				<fieldset>
			 <div class="col-sm-6">
			  <div class="form-group">
              <div class="col-md-3"><b>Book No:</b></div>
              <%=f.text_field :book_number, placeholder: "Book No", class: "form-control",style:"width:250px"%>
            </div>
            
            <div class="form-group">
              <div class="col-md-3"><b>Title:</b></div>
              <%=f.text_field :title, placeholder: "Title", class: "form-control",style:"width:250px"%>
            </div>

            <div class="form-group">
              <div class="col-md-3"><b>Author:</b></div>
              <%=f.text_field :author, placeholder: "Author", class: "form-control",style:"width:250px"%>
            </div>

            <div class="form-group">
              <div class="col-md-3"><b>Publication:</b></div>
              <%=f.text_field :publication, placeholder: "Publication", class: "form-control",style:"width:250px"%>
            </div>
						
			<div class="form-group">
			 <b>Status:</b>&nbsp;
			  <%= f.radio_button :Available,"present",:checked => "checked"%>&nbsp;Available&nbsp;&nbsp;
			  <%= f.radio_button  :status,"all"%>&nbsp;Not Available
			  <%= f.radio_button  :status,"all"%>&nbsp;All
			</div>
		</div>
		   
		   <div class="form-group">
		    <div align="center">
		     <%= f.submit 'Search', class: "btn btn-primary"%>
		    </div>
		   </div>
	<%end%>	
	</fieldset>
   </div>
  </div>
 </div>
</div>