<div class="box-inner">
 <div class="box-header well" data-original-title=""></div>
  <div class="box-content" style="overflow-y: scroll; height:auto">
  
 <table id="datatable" class="table table-striped table-bordered responsive">
  <tr class="tr-head">
   <thead>
    <tr>
 
      <th>Book Number</th>
      <th>Book Title</th>
      <th>Name</th>
      <th>Admission No</th>
      <th>Issue Date</th>
      <th>Due Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>



 <tbody>
    <% @issuebooks.each do |l| %>
    <% @students.each do |s| %>
    <%@bookcats.each do |b|%>
    
     <tr>
            
        <td><%= l.book_number %></td>
        <td><%= l.title%></td>
        <td><%= s.first_name+' '+student.last_name  %></td>
        <td><%= s.admission_no %></td>
        <td><%= l.Issue_date %></td>
        <td><%= l.Due_date %></td>
         <td><%= link_to 'Edit',edit_book_book_path(l), class: "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Destroy', destroy_book_book_path(l), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %></td>
      
     </tr>
  <%end %>
  <%end%>
  <%end%>
  
</tbody>
</table>
