<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    <li>Library Management</li>
  </ul>
</div>

<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Settings",setting_book_movements_path%></h2>
      </div>
      <div class="box-content">
      Click Here for settings
      </div>
    </div>
  </div>

<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Manage Book",books_path%></h2>
      </div>
      <div class="box-content">
      Manage library books
      </div>
    </div>
  </div>
</div>
<br/>


<br/>
<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><h2><%= link_to "Issue Books",search_student_book_movements_path%></h2>
      </div>
      <div class="box-content">
       Issue Books here
      </div>
    </div>
  </div>

  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Book Renewal And Return",search_all_student_book_movements_path%></h2>
      </div>
      <div class="box-content">
        Search All Students here
      </div>
    </div>
  </div>
</div>
<br/>


<div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
       <h2><%= link_to "Search All Books",search_book_books_path%>
      </div>
      <div class="box-content">
       Search All Available books here
      </div>
    </div>
  </div>
  <div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "Pay Fines",search_student_fines_path%></h2>
      </div>
      <div class="box-content">
      Click Here To Pay Fine
      </div>
    </div>
  </div>
</div>

</div>

  <div class="row">
  <div class="box col-md-1"></div>
  <div class="box col-md-4">
    <div class="box-inner2">
      <div class="box-header well" data-original-title="">
        <h2><%= link_to "View Monthly Fines",new_fine_collection_path%></h2>
      </div>
      <div class="box-content">
      View All Monthly Fine Collections
      </div>
    </div>
  </div>
</div>

</div>


</div>

<br/>


 