<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>Create Bulk Email</h2>
      </div>
      <div class="box-content">
      <%= form_for :bulk_employee_email ,url:{controller: 'bulk_employee_emails',action: 'create'} do |f| %>
    <fieldset>

     <div class="col-md-4">
           <div class="form-group">
          <b>Select:</b> &nbsp;&nbsp; &nbsp;&nbsp;
          <%= link_to "All",'#',{onclick:"$('.check_box').prop('checked',true);",remote:true,class: "btn btn-primary-link btn-xs"}%>&nbsp;&nbsp;
          <%= link_to  "None",'#',{onclick:"$('.check_box').prop('checked',false);",remote:true,class: "btn btn-primary-link btn-xs"}%>
        </div>
        </div>
<div class="row">
  <div class="box col-md-8">
    <div class="box-inner">
      <div class="box-content" style="overflow-y: auto;height: 350px;width:100%">
        <div id="user_search">
        <div id="bulk_employee_email">
          <%= render 'bulk_employee_emails/employee_list'%>
        </div></div></div></div>

      
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">

         <div class="form-group">
          <b>Select Department:</b>
          <span style="color:red">*</span>
    <%= f.select :employee_department_id, EmployeeDepartment.all.collect {|b| [b.name,b.id]}, {prompt:true}, {onclick:"var a={id:$('#bulk_employee_email_employee_department_id').val()};$.get('/bulk_employee_emails/selected_department',a,function(response){});",:style =>"width: 300px",class: "form-control"}%>
          <br>

       <div class="form-group">
          <b>Email Subject:</b>
          <span style="color:red">*</span>
          <%= f.text_field :subject, placeholder: "Email Subject", class: "form-control",required:true, style:"width:300px"%>
        </div>

        <div class="form-group">
          <b>Email Body:</b>
          <span style="color:red">*</span>
          <%= f.text_area :body, placeholder: "Email Body", class: "form-control",required:true, style:"width:300px;height:200px"%>
        </div>

      
    <div class="col-sm-2 col-sm-offset-2"> 
      <div class="form-actions">               
        <%= f.submit 'Send bulk email', class: "btn btn-primary"%>
      </div>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>
     
      
  </fieldset>        
 <% end %>
</div>
</div>
</div>
</div>
</div>
      </div>