<div>
  <ul class="breadcrumb">
    <li><%= link_to 'Home',dashboard_home_index_path %></li>
    
    <li>Sms/Email</li>
  </ul>
</div><div id="flash"><%= render 'layouts/messages'%></div>
<div class="row">

  <div class="dropdown pull-right">
   <%= link_to 'Click To Send Sms/Email','#',class: "btn dropdown-toggle btn-primary-link btn-xs", id: "dropdownMenu1", :"data-toggle"=>"dropdown"%>

    <%= link_to 'All Reports','/bulk_messages/reports',class: 'btn btn-primary-link btn-xs'%>

   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
     
     <%=link_to "Sms To Students",new_bulk_message_path,remote:true%>
   </li>
   <li role="presentation">
     
     <%=link_to "Sms To Employee",new_bulk_message_employee_path,remote:true%>
   </li>
   <li role="presentation">
    <%=link_to "Email To Student",new_bulk_email_path,remote:true%>
  </li>
  <li role="presentation">
    <%=link_to "Email To Employee",new_bulk_employee_email_path,remote:true%>
  </li> 
    <li role="presentation">
    <%=link_to "Sms all Students",new_sms_to_all_student_path,remote:true%>
  </li> 
    <li role="presentation">
    <%=link_to "Sms all Employee",new_sms_to_all_employee_path,remote:true%>
  </li>  
   <li role="presentation">
    <%=link_to "Sms all Batch",new_message_to_all_batch_path,remote:true%>
  </li>  
   <li role="presentation">
    <%=link_to "Sms all Department",new_message_to_all_department_path,remote:true%>
  </li>  
</ul>
</div>
 <div id="message"></div>

